.footer {
    display: flex;
    justify-content: center;
    background-color: #ff98077a;
    height: 4rem;
    padding: 1rem 3rem;
    align-items: center;
    border-top: 0.1rem solid #d17d08bb;
}

.repo {
    font-size: 1.5rem;
    font-weight: 400;
}